<!DOCTYPE html>
<html lang="">
<head>
    <title><%= __('header_title') %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
    <h1><%= __('header') %></h1>
</div>
<div class="container">
    <div class="form-section">
        <img src="img/earth.png" alt="<%= __('earth_image_alt') %>" height="200px">
        <form action="/submit-form" method="post" id="planetForm">
            <div class="form-group">
                <label for="planetName"><%= __('planet_name_label') %>:</label>
                <input type="text" id="planetName" name="planetName" required>
            </div>

            <div class="form-group">
                <label for="planetRadius"><%= __('planet_radius_label') %>:</label>
                <input type="number" id="planetRadius" name="planetRadius" required min="0" step="any">
            </div>

            <div class="form-group">
                <label for="lifeExistence"><%= __('life_exists_label') %>:</label>
                <input type="checkbox" id="lifeExistence" name="lifeExistence">
            </div>

            <div class="form-group">
                <button type="submit"><%= __('build_planet_button') %></button>
            </div>

            <div id="formError" class="form-error"></div>
        </form>

        <div>
            <a href="?lang=en">English</a> |
            <a href="?lang=es">Español</a>
        </div>

    </div>
</div>

</body>
</html>
